{# templates/partials/_navbar.html.twig #}
{# Paramètres attendus :
   - navbar_is_transparent (bool) -> true sur l’accueil, false sur les pages enfants
#}


{% set navbar_is_transparent = navbar_is_transparent|default(false) %}
{% set base_classes = 'navbar navbar-expand-lg festava-navbar navbar-dark' %}
{% set initial_classes = navbar_is_transparent
    ? 'top-0 start-0 w-100'
    : 'nav-solid' %}
{% set current = app.request.attributes.get('_route') %}

<nav id="mainNav" class="{{ base_classes }} {{ initial_classes }}" role="navigation" aria-label="Navigation principale">
    <div class="container">
        <a class="navbar-brand p-0 me-2 d-flex align-items-center" href="{{ path('app_home') }}" aria-label="APPAC">
            <img id="brandLogo"
                 src="{{ asset('images/logo/logo-appac.svg') }}"
                 data-light="{{ asset('images/logo/logo-appac.svg') }}"
                 data-dark="{{ asset('images/logo/logo-appac-white.svg') }}"
                 alt="APPAC" class="brand-logo">

            <script src="{{ asset('js/custom.js') }}"></script>
        </a>


        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Basculer la navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">

                {#Accueil#}
                <li class="nav-item">
                    <a class="nav-link {{ current == 'app_home' ? 'active' : '' }}"
                       href="{{ path('app_home') }}">Accueil</a>
                </li>

                {#Activités#}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {{ current starts with 'app_about' ? 'active' : '' }}"
                       href="#" id="aboutDropdown" role="button"
                       aria-expanded="false">Activités<span class="dropdown-arrow">▾</span>
                    </a>
                <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                    <li><a class="dropdown-item" href="{{ path('app_home') }}#events-section">Événements</a></li>
                </ul>


                {#Vie de l'association#}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {{ current starts with 'app_about' ? 'active' : '' }}"
                       href="#" id="aboutDropdown" role="button"
                       aria-expanded="false">Vie de l'association<span class="dropdown-arrow">▾</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_home') }}#about">Qui sommes-nous ?</a></li>
                        <li><a class="dropdown-item" href="{{ path('board_member_organigram') }}">Trombinoscope CA</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_home') }}#actus">Actualités</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_home') }}#">Nos status</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_home') }}#">Archives</a></li>
                    </ul>
                </li>


                {#Infos pratiques#}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {{ current starts with 'app_about' ? 'active' : '' }}"
                       href="#" id="aboutDropdown" role="button"
                       aria-expanded="false">Infos pratiques<span class="dropdown-arrow">▾</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_home') }}#">Règlementation</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_home') }}#">Petites annonces</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_home') }}#partenaires">Partenaires</a></li>
                    </ul>
                </li>


                {#Galerie photo#}
                <li class="nav-item">
                    <a class="nav-link {{ current starts with 'gallery_index' ? 'active' : '' }}"
                       href="{{ path('gallery_index') }}">Galerie photo</a>
                </li>


                {#Contactez-nous#}
                <li class="nav-item">
                    <a class="nav-link {{ current starts with 'app_about' ? 'active' : '' }}"
                       href="{{ path('app_home') }}#contact">Contactez-nous</a>
                </li>



            </ul>

            {% if app.user %}
                <div class="d-flex gap-2">
                    <a href="{{ path('app_account') }}" class="btn btn-outline-light">Mon compte</a>
                    <a href="{{ path('app_logout') }}" class="btn custom-btn">Déconnexion</a>
                </div>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn custom-btn">Connexion</a>
            {% endif %}
        </div>
    </div>

</nav>
